## 5. Descriptive Statistics

### This script contains the following:
1. Importing libraries and data
2. Running descriptive statistics analysis
3. Exporting tables to csv files

### 1. Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Neena Tilton\Dropbox\Projects\MinWage_Crime'

In [3]:
df = pd.read_pickle(os.path.join(path, '02_Data', 'PreparedData', 'df_newvar.pkl'))

In [4]:
df.head()

,Year,State,state_mw,state_mw_2020,fed_mw,fed_mw_2020,effective_mw,effective_mw_2020,prisoner_count,state_population,violent_crime,murder,robbery,burglary,incarceration_rate,rate_rank,avg_rate_of_year
0,2001,Alabama,0.00,0.00,5.15,7.52,5.15,7.52,24741.0,4468912.0,19582.0,379.0,5584.0,40642.0,0.005536,High,0.003832
1,2001,Alaska,5.65,8.25,5.15,7.52,5.65,8.25,4570.0,633630.0,3735.0,39.0,514.0,3847.0,0.007212,Unusually High,0.003832
2,2001,Arizona,0.00,0.00,5.15,7.52,5.15,7.52,27710.0,5306966.0,28675.0,400.0,8868.0,54821.0,0.005221,High,0.003832
3,2001,Arkansas,5.15,7.52,5.15,7.52,5.15,7.52,11489.0,2694698.0,12190.0,148.0,2181.0,22196.0,0.004264,Medium,0.003832
4,2001,California,6.25,9.13,5.15,7.52,6.25,9.13,157142.0,34600464.0,212867.0,2206.0,64614.0,232273.0,0.004542,Medium,0.003832

### 2. Running descriptive statistics analysis

In [6]:
df_stats = df.describe()
df_stats

,Year,state_mw,state_mw_2020,fed_mw,fed_mw_2020,effective_mw,effective_mw_2020,prisoner_count,state_population,violent_crime,murder,robbery,burglary,incarceration_rate,avg_rate_of_year
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,2008.500000,5.689576,6.913789,6.200010,7.549370,6.621468,8.063920,25329.494141,6089472.50,26289.255859,314.088745,7716.175781,40875.953125,0.003949,0.003949
std,4.612656,2.491966,2.860795,0.990568,0.620414,1.169327,0.927118,32250.925781,6738768.00,33889.277344,385.933014,11114.012695,47800.265625,0.001437,0.000109
min,2001.000000,0.000000,0.000000,5.150000,6.420000,5.150000,6.420000,1088.000000,493754.00,496.000000,5.000000,43.000000,1689.000000,0.001285,0.003707
25%,2004.750000,5.150000,6.610000,5.150000,7.045000,5.150000,7.400000,5507.250000,1793322.25,5213.500000,48.750000,1106.500000,9407.000000,0.003008,0.003895
50%,2008.500000,6.500000,7.900000,6.200000,7.665000,7.150000,8.050000,16311.000000,4317681.00,15750.500000,179.500000,3935.000000,27759.000000,0.003871,0.003949
75%,2012.250000,7.250000,8.620000,7.250000,7.952500,7.250000,8.620000,30001.250000,6823380.50,31977.000000,431.000000,8834.500000,47815.000000,0.004757,0.004021
max,2016.000000,10.000000,10.780000,7.250000,8.600000,10.000000,10.780000,172298.000000,39296476.00,212867.000000,2503.000000,71142.000000,250521.000000,0.008637,0.004122

This is a great opportunity to once again all columns have complete values and within reasonable range of expectations or find anomalies. Looks like all columns contain 800 enteries, indicating no empty rows present. For 'Year' the min value is 2001 and max value is 2016, no anomolies here. All minimum wage data (marked with 'mw' in the column name) are within reasonable ranges for minimum wages. Within the columns with the types of crimes, the only suspect value is for the 'murder' column, where the minimum is 5. This is wholly possible, thus will not treat as outlier, however, am curious to see which state in which year had such low rate of such type of crime.

### 3. Exporting stats table to csv file

In [7]:
# Save as csv file for possible use later.

df_stats.to_csv(os.path.join(path,'02_Data', 'PreparedData', 'df_descptive.csv'))